<h1>I am the services page</h1>

<% @services.each do |service| %>
	<div>
		<div><%=  image_tag service.image %></div>
		<div><%= service.title %></div>
		<div><%= service.description %></div>
	</div>
<% end %>
